@mixin displayGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .4rem;
}

@mixin border{
    border: 1px solid #000;
    border-radius: .4rem;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    .container{
        text-align: center
        
    }
}



main {
    .container{

        .numbers-content{
            @include displayGrid();
            
            .key{
                padding: .6rem;
                @include border();

                &:hover{
                    cursor: pointer;
                }
            }
            .empty{
                background-color: #000;
            }
        }
        .viewfinder{
            width: 100%;
            @include border();
            margin: .6rem 0;
            text-align: end;

            span{
                position: relative;
                right: .4rem;
            }
        }
    }
}